<div class="right-bar">
  <div data-simplebar class="h-100">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-bordered nav-justified" role="tablist">
      <li class="nav-item">
        <a href="javascript:void(0);"
           class="active h-100 nav-link py-2 right-bar-toggle rounded-0 w-100 waves-effect waves-light">
          <i class="mdi mdi-cog-outline d-block font-22 my-1"></i>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content pt-0">
      <div class="tab-pane active" id="settings-tab" role="tabpanel">
        <h6 class="fw-medium px-3 m-0 py-2 font-13 text-uppercase bg-light">
          <span class="d-block py-1">Настройки темы</span>
        </h6>

        <div class="p-3">
          <div class="alert alert-warning" role="alert">
            Настройте общую цветовую схему, боковое меню и т. д.
          </div>

          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Цветовая гамма</h6>
          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="color-scheme-mode" value="light"
                   id="light-mode-check">
            <label class="form-check-label" for="light-mode-check">Светлая</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="color-scheme-mode" value="dark"
                   id="dark-mode-check">
            <label class="form-check-label" for="dark-mode-check">Темная</label>
          </div>

          <!-- Topbar -->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Шапка</h6>
          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="topbar-color" value="dark"
                   id="darktopbar-check" checked>
            <label class="form-check-label" for="darktopbar-check">Темная</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="topbar-color" value="light"
                   id="lighttopbar-check">
            <label class="form-check-label" for="lighttopbar-check">Светлая</label>
          </div>

          <!-- Left Sidebar-->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Цвет левой панели</h6>
          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="leftsidebar-color" value="light"
                   id="light-check">
            <label class="form-check-label" for="light-check">Светлый</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="leftsidebar-color" value="dark"
                   id="dark-check">
            <label class="form-check-label" for="dark-check">Темный</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="leftsidebar-color" value="brand"
                   id="brand-check">
            <label class="form-check-label" for="brand-check">Голубой</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="radio" name="leftsidebar-color" value="gradient"
                   id="gradient-check">
            <label class="form-check-label" for="gradient-check">Градиент</label>
          </div>
        </div>

      </div>
    </div>

  </div> <!-- end slimscroll-menu-->
</div>
